body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input-field {
  display: block;
}

.list::after {
  content: "";
  clear: both;
  display: table;
}

.list-item {
  float: left;
  clear: left;
  cursor: pointer;
}
